#about {
  background-image:
    linear-gradient(
      rgba(0, 0, 0, .9),
      rgba(0, 0, 0, .5)
    ), 
    url('/assets/images/sobre.png');
  background-position: right;
  background-size: cover;

  box-sizing: border-box;
  padding: 64px;

  justify-content: space-between;
}

#about h2,
#about h1 {
  color: white;
}